[preset.0]

name="Android"
platform="Android"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="../../build/android/ashfall.apk"
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.0.options]

; Gradle builds need a configured Android SDK and are only required for custom
; builds or plugins. The standard APK export needs neither.
gradle_build/use_gradle_build=false
gradle_build/gradle_build_directory=""
package/unique_name="io.ashfall.client"
package/name="Ashfall"
package/signed=true
screen/immersive_mode=true
screen/support_small=false
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
architectures/arm64-v8a=true
architectures/armeabi-v7a=false
architectures/x86_64=false
permissions/internet=true

[preset.1]

name="iOS"
platform="iOS"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="../../build/ios/ashfall.ipa"
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.1.options]

application/app_store_team_id=""
application/bundle_identifier="io.ashfall.client"
application/signature=""
application/short_version="0.1.0"
application/version="0.1.0"
application/min_ios_version="12.0"
application/targeted_device_family=1
architectures/arm64=true
